# Control Structures and Data Frames

## PETE 2061 Lab 4 Workbook 

## THIS IS DUE BY 11:59 PM ON SUNDAY (Sept 22, 2019)

<a id='top'></a>

1. Paste the url (or link) to the pete2061 folder in your github account in the "marked down" cell below. <br>

https://github.com/erinflaherty/PETE_2061

2. It is commonly said that one human year is equivalent to 7 dog years. However, this simple conversion fails to recognize that dogs reach adulthood in approximately two years. As a result, some people believe that it is better to count each of the first two human years as 10.5 dog years, and then count each additional human year as 4 dog
years. <br>
Write a program that implements the conversion from human years to dog years described in the previous paragraph. Ensure that your program works correctly for conversions of less than two human years and for conversions of two or more human years. Your program should generate a random number between 0 and 10. <br>
Hints: <br>
a. Remember that you can generate a random number between 0 and 1 using the function numpy.random.random(1)<br>
b. You can scale this random number to go from 0 to 10 by multiplying it by 10<br>
c. At this point what you have is a random floating-point number that goes from 0 to 10. You need to convert this floating-point number to an integer using the int() function.

In [59]:
import pandas as pd
import numpy as np
myRand = 10*np.random.random(1)
print(int(myRand))
if myRand <= 2:
    print(myRand*10.5)
else:
    print(21+ myRand*4)

7
[52.80412976]

3. For Students A through J, generate 10 different random numbers between 0 and 100. Create a dataframe to store the student names in the first column (called "Name"), and store the scores in the second column called "Score".
   Print out the mean, standard deviation and maximum of the scores, as well as the index of the student with this maximum score.

In [60]:
data = {'Name': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'],
        'Score': 100*np.random.random(10)}
df = pd.DataFrame(data)
df

  Name      Score
0    A  67.516640
1    B  57.625379
2    C  41.446748
3    D  22.247527
4    E  59.497739
5    F  47.369304
6    G   9.196580
7    H  71.467307
8    I  34.135667
9    J  13.779153

In [61]:
df.describe()

           Score
count  10.000000
mean   42.428204
std    22.164874
min     9.196580
25%    25.219562
50%    44.408026
75%    59.029649
max    71.467307

4. Write a program that begins by reading a score in percentage (%) from the user. Then your program should compute and display the equivalent letter grade. Ensure that your program generates an appropriate error message if the user enters an invalid score.
Use the grading scale on your syllabus. These scores are typed in below.

In [62]:
letterGrade = ['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','D-']
scores = [97,93,90,87,83,80,77,73,70,67,63,60]
score = int(100*np.random.random(1))
if score > 97:
    print("A+")
elif 97 > score >= 93:
    print ("A")
elif 93 > score >= 90:
    print("A-")
elif 90 > score >= 87:
    print("B+")
elif 87 > score >= 83:
    print("B")
elif 83 > score >= 80:
    print("B-")
elif 80 > score >= 77:
    print("C+")
elif 77 > score >= 73:
    print("C")
elif 73 > score >= 70:
    print("C-")
elif 70 > score >= 67:
    print("D+")
elif 67 > score >= 63:
    print("D")
elif 63 > score >= 60:
    print("D-")
elif score < 60:
    print("F")
else: 
    print("your score is invalid")
print(score)

F
25

5. Write a program that generates 10 random integers, and then prints the largest odd number that was entered. If no odd number was entered it should print a message to that effect. <br>
Hints: <br>
    a. Use pseudo-code. <br>
    b. Generate a random number using the code below:<br>
    myRandInt = np.random.randint(low=1, high=20, size=10)<br>
    c. Initialize an empty list to contain the odd numbers. Name this list oddInt <br>
    d. Within your for loop, you can append odd numbers to this empty list using the append function. eg: <br>
    oddInt.append("The current odd number from the list should be put in here!")

In [114]:
import numpy as np
myRandInt = np.random.randint(low=1, high=20, size=10)
oddInt= []
print(myRandInt)

[11 18 14 18 19 10  4 12 13  2]

In [115]:
for n in myRandInt:
    if (n % 2) != 0:
        oddInt.append(n)
    else:
        print("There are no odd numbers")
df_odd = pd.DataFrame(oddInt)
print(df_odd.max())

0    19
dtype: int64